body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: white;
}

.header {
  background-color: black;
  color: #e9ebee;
}
ul {
  list-style: none;
  padding: 0;
}
.header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  font-size: 20px;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

nav {
  width: 20%;
}

.about {
  background: #e9ebee;
  padding: 15px;
}

.link {
  color: blueviolet;
}

.archives {
  padding: 15px;
}

.content {
  width: 60%;
  display: flex;
}

.articles {
  width: 50%;
  margin: 0 10px;
}

.article {
  border: 3px #e9ebee solid;
  margin-bottom: 25px;
}

img {
  height: 200px;
  width: 100%;
}

.article-detail {
  padding: 0px 10px;
  padding-bottom: 20px;
}

.article-link {
  text-decoration: none;
  color: blue;
}
.sign-in {
  text-align: center;
  background: #e9ebee;
  padding: 20px;
}

aside {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
}

.input {
  height: 25px;
}

.check {
  margin: 10px 10px 0 5px;
  font-size: 13px;
}

.submit-btn {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
}

footer {
  background-color: #e9ebee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.footer-detail {
  width: 100%;
  text-align: center;
  color: gray;
}
