body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: white;
  margin: 0;
  font-size: 13px;
}

.header {
  background-color: black;
  color: #e9ebee;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-size: 15px;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

nav {
  width: 14%;
}

.about {
  background: #e9ebee;
  padding: 15px;
}

.link {
  color: blueviolet;
}

.archives {
  padding: 15px;
}

.articles {
  width: 70%;
  display: flex;
  margin: 0 30px;
  flex-flow: column wrap;
  align-content: space-between;
  height: 700px;
}

/* .articles {
  width: 50%;
  margin: 0 10px;
} */

.article {
  border: 3px #e9ebee solid;
  margin: 0 8px 25px 8px;
  width: 48%;
}

.article:nth-child(2n + 1) {
  order: 1;
}
.article:nth-child(2n + 2) {
  order: 2;
}

.content::before,
.content::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

img {
  height: 150px;
  width: 100%;
}

.article-detail {
  padding: 0px 10px;
  padding-bottom: 20px;
}

.article-link {
  text-decoration: none;
  color: rgb(0, 183, 255);
}
.sign-in {
  text-align: center;
  background: #e9ebee;
  padding: 20px;
  border-radius: 4px;
}

aside {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}

.input {
  height: 30px;
  width: 90%;
  font-size: 15px;
  padding: 5px;
}

.check {
  margin: 5px 0 10px 0;
  font-size: 13px;
}

.submit-btn {
  background-color: rgb(13, 160, 218);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  margin-top: 10px;
  font-size: 20px;
}

footer {
  background-color: #e9ebee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-detail {
  width: 100%;
  text-align: center;
  color: gray;
}

.article-desc {
  margin-top: 0;
}

.article-title {
  margin-bottom: 5px;
}
